<h1>Список показателей</h1>

<table class="table">
  <tr>
    <th>Показатель мониторинга</th>
    <th>Запрос</th>
    <th>Объект мониторинга</th>
    <th>Шаблон парсинга</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @counters.each do |counter| %>
  <tr>
    <td><%= link_to counter.name, site_counter_path(@site, counter) %></td>
    <td><%= counter.urlquery %></td>
    <td><%= counter.site.name %></td>
    <td><%= counter.nokogirisearch %></td>    
    <td><%= link_to 'Show', site_counter_path(@site, counter) %></td>
    <td><%= link_to 'Edit', edit_site_counter_path(@site, counter) %></td>
    <td><%= link_to 'Destroy', site_counter_path(@site, counter), method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый показатель мониторинга', new_site_counter_url(@site) %>
