<p>
  <b>Показатель мониторинга:</b>
  <%= @counter.name %>
</p>

<p>
  <b>Строка запроса:</b>
  <%= @counter.urlquery %>
</p>

<p>
  <b>Объект мониторинга:</b>
  <%= @counter.site.name %>
</p>

<p>
  <b>Шаблон парсинга:</b>
  <%= @counter.nokogirisearch %>
</p>

<p>
    <%=    render :template => 'values/index' %>
</p>

<%= link_to 'Редактировать', edit_site_counter_path(@counter.site, @counter) %> |
<%= link_to 'Назад в список объектов мониторинга', site_path(@counter.site) %>
