<h1>Список объектов мониторинга</h1>

<table class="table">
  <tr>
    <th>Имя</th>
    <th>Домен</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= link_to site.name, site %></td>
    <td><%= site.urldomain %></td>
    <td><%= link_to 'Опросить', sites_monit_path(site) %></td>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить объект мониторинга', new_site_path %>
